.page.theme_light {
  --bg-color: #FFF1F7;
  --color-accent-text: #353430;
  --border-active: #353430;
  --bg-color-accent: #FF8DCB;
  --color-accent: #353430;
  --bg-image: url(../images/cover-image-light.png);
  --color: #353430;
  --color-title: #FFC2E6;
  --color-hover: #32312d66;
  --font-family: "IBM Plex Mono", "Arial", "Helvetica", sans-serif;
  --font-size: 18px;
  --line-height: 130%;
  --bright-shadow: #FF0070;
  --color-tab: #353430;
}

.page.theme_light .accent::before {
  color: transparent;
}

.page.theme_light .accent::after {
  background-color: transparent;
  filter: transparent;
}

@media (prefers-color-scheme: light) {

  :root {
    --bg-color: #FFF1F7;
    --color-accent-text: #353430;
    --border-active: #353430;
    --bg-color-accent: #FF8DCB;
    --color-accent: #353430;
    --bg-image: url(../images/cover-image-light.png);
    --color: #353430;
    --color-title: #FFC2E6;
    --color-hover: #32312d66;
    --font-family: "IBM Plex Mono", "Arial", "Helvetica", sans-serif;
    --font-size: 18px;
    --bright-shadow: #FF0070;
    --color-tab: #353430;
  }
 
  .page.theme_auto .accent::before {
    color: transparent;
  }

  .page.theme_auto .accent::after {
    background-color: transparent;
    filter: transparent;
  }
}