:root {
  --bg-color: #000028;
  --color-accent-text: #000028;
  --border-active: #FF0070;
  --bg-color-accent: #FF0070;
  --color-accent: #FF0070;
  --bg-image: url(../images/cover-image-dark.png);
  --color: #F1B2CE;
  --color-title: #DB00FF;
  --color-hover: #ff007066;
  --font-family: "IBM Plex Mono";
  --font-size: 18px;
  --bright-shadow: #FF0070;
}
